body{
    margin-top: 50px;
    margin-bottom:50px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: cadetblue;
}

.img{

    border: 50px ;

    padding: 5px;

    background-color: #f0c91d;
}
.c1{
    
    width: 900px;
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    min-height: 100vh;
    border-radius: 8px;
    
}
.c2{
     width: 40%; 
    color: #ffffff; 
    background-color: #2c3e50; 
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.profile-img {
    width: 150px;
    height: 200px;
    border: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    margin-top: 10px;

}

.name-title {
    margin-top: 5px;
    font-size: 1.6em;
    text-transform: uppercase;
}
.name-title:hover{
   color: black;
}
.job-title {
    font-size: 1em;
    font-weight: 300;
}
.job-title:hover{
    color: black;
}
.section {
    margin-bottom: 25px;
}
.item-details {
    margin-bottom: 20px;
}
.skills-list {
    list-style: none; 
    padding-left: 0;
}
.skills-list {
    list-style: none; 
    padding-left: 0;
}
.skills-list :hover {
    background-color: #f1c40f; 
    color: #2c3e50;
    
}
.c3{
    position: absolute;
    margin-right: 300px;
}
.c4{
    margin-left: 50px;
    display: inline-block;
    margin-top: -70px;
}
.key-word{
    color: #f1c40f;
}
.sub-word:hover{
    color: #3498db;
}
